/env
/src/Property Data/*
/src/.vs
/src/*.pyperf
/src/*.pyproj
/src/*.sln
/src/Logs/*
/src/animal_detector/__pycache__
/src/animal_regression/__pycache__
/src/sidebar/__pycache__
/src/optionbar/__pycache__
/src/weather/__pycache__
/src/dialogs/__pycache__
/Compile
/docs
/src/animal_regression/Models/*
/src/animal_detector/Models/Detector Data/runs/*
