tk>=0.1.0
tkintermapview>=1.29
ultralytics>=8.0.220
openmeteo_requests>=1.1.0
openmeteo_sdk>=1.7.0
pandas>=2.1.2
meteostat>=1.6.7
scikit-learn>=1.3.2
joblib>=1.3.2
exif>=1.6.0
Pillow>=9.1.0
torch>=2.1.1
torchvision>=0.16.1
torchaudio>=2.1.1
haversine>=2.8.0
ttkbootstrap>=1.10.1
treelib>=1.7.0
lapx>=0.5.2